*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/

mono_crash.*

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp

*.lnk

ScaffoldingReadMe.txt

.vscode/

.idea/

.vs/

logs/

project.lock.json
project.fragment.lock.json
artifacts/

StyleCopReport.xml

**/[Dd]ockerfile
**/[Dd]ocker-*.yml

**/node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

.publish/